body {
  background-color: lightblue;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: black;
  padding: 20px;
}

.button {
  background-color: blue;
  color: white;
  padding: 15px 20px;
  border-radius: 20px;
  text-align: center;
  text-decoration: underline;
  font-size: 16px;
  display: block;
  width: 450px;
  margin: 10px auto;
}

.button:hover:after {
  content: attr(data-text);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  z-index: 1;
}
