body {
  background-color: lightblue;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: black;
  padding: 20px;
}

.button {
  background-color: blue;
  color: white;
  padding: 15px 20px;
  border-radius: 20px;
  text-align: center;
  text-decoration: underline;
  font-size: 16px;
  display: block;
  width: 450px;
  margin: 10px auto;
}
